* {
  box-sizing: border-box;
}

:root {
  --red: #d00d0b;
  --yellow: #f6f4a6;
  --light-yellow: #f7f6ba;
  --green: #2b560a;
  --light-green: #6a8e33;
  --black: #0f250a;
  --grey: #b2b2b2;
  --blue: #00b894;

  /* Game Settings */
  --maze-size: 70vh;
  --maze-num: 25;
  --cell-border: 8px solid var(--green);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  background: var(--light-yellow);
  font-family: "Roboto Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-red);
  border: 3px solid black;
  border-radius: 3px;
  margin: 0;
  padding: 4px 14px;
  fill: var(--red);
  stroke: black;
  stroke-width: 3px;
  font-family: inherit;
  font-weight: bold;
  box-shadow: 0 3px var(--grey);
  cursor: pointer;
  height: 50px;
  width: 150px;
  font-size: 20px;
}

.title {
  padding-top: 30px;
  padding-bottom: 40px;
  font-weight: 600;
  font-size: 3em;
  letter-spacing: 4px;
  text-align: center;
  color: var(--green);
}

.mazeShadow {
  padding: 24px;
  border-radius: 14px;
  background: white;
}

.Maze {
  width: var(--maze-size);
  height: var(--maze-size);
  display: grid;
  grid-template-columns: repeat(var(--maze-num), auto);
  grid-template-rows: repeat(var(--maze-num), auto);
  grid-gap: 1px;
  border: var(--cell-border);
  border-width: 5px;
}

.cell {
  background-color: var(--green);
  opacity: 0.7;
  margin: -3px;
}

.top {
  border-top: var(--cell-border);
}

.right {
  border-right: var(--cell-border);
}

.bottom {
  border-bottom: var(--cell-border);
}

.left {
  border-left: var(--cell-border);
}

.visited {
  background-color: var(--light-yellow);
}

.active {
  background-color: var(--red);
  border-radius: 50%;
  border-color: var(--red);
  border-width: 1px;
  opacity: 1;
  margin: 2px;
}

.Controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.start,
.stop,
.reload {
  font-size: 26px;
  text-transform: uppercase;
}

.start {
  background-color: var(--blue);
}

.stop {
  background-color: var(--yellow);
}

.reload {
  background-color: var(--blue);
  margin: auto;
}

.hidden {
  display: none;
}
